body {
	background-color: #3B6064;
	padding: 2vw;
	color: white;
}

.mx-auto {
	height: 30vw;
	object-fit: cover;
	display: inline-block;
}


h1 {
	font-family: Special Elite;
	text-align: center;
}

h2 {
	font-family: Special Elite;
}

h4 {
	font-family: Courier Prime;
}

p {
	font-family: Courier Prime;
	font-size: 18px;
}

li {
	font-family: Courier Prime;
	font-size: 18px;
}

a {
	color: white;
}

.footer {
	text-align: center;
	font-family: Courier Prime;
}

.row {
	background-color: #55828B;
}

.cover {
	height: 15vw;
	width: 10vw;
}

th {
	text-align: center;
}

td {
	text-align: center;
}